<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retirement info</title>
</head>

<style>
    body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        text-align: left;
    }

    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        color: #666;
        font-size: 16px;
        margin-bottom: 20px;
    }
</style>

<body>
    <h1>Hi there, <%= name %>!</h1>
    <p>You have <%= yearsToRetire %> years before you can retire.</p>
    <p>This means that the earliest year you can retire is <%= retireYear %></p>
</body>
</html>